@media print /*--This is for Print--*/
{
		.noprint{
		display: none;}
    .btn
    {
        display: none;
    }
    .tble
    {
        background-color: #CD853F;
        border:1px solid green;
        -webkit-print-color-adjust: exact
/*above line of codes will set the table background-color and change the border color when we give the print and preview (print preview only when we see on print preview via browser) command*/

    }
	table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
.no{
margin-top: -17px;
    margin-left: 41px;
}
.date{margin-left: 452px;
    margin-top: -17px;}
	.date1{ margin-left: 404px;}
	.name{    margin-left: 55px;
    margin-top: -16px;}
	
.nov{
background: transparent;
    border: none;
    border-bottom: 1px dotted;}
}
@media screen /*--This is for Print Preview Screen--*/
{
    .btn
    {
        display: none;
    }

    .tble
    {
        background-color: #CD853F;
        border:1px solid green;
    }
	input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px dotted;
}
  }